/**
 * @name Slack theme
 * @version 1.0
 * @description Make Discord look like Slack (Aubergine theme)
 * @author lorenzo#8504
 * @source https://github.com/kidkoala1/Discord-Slack-theme
**/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body, div, span, textarea, ::-webkit-input-placeholder {
  font-family: "Lato", sans-serif
}

.theme-dark {
  --background-primary: #1a1d21;
  --background-secondary: #1a1d21;
  --background-secondary-alt: #1a1d21;
  --background-message-hover:#222529;
  --background-modifier-selected: #0576b9;
  --background-modifier-hover: black;
  --text-normal: #d1d2d3;
  --background-modifier-active: black;
}

.da-sidebar {
  border: 1px solid #313438;
}

.da-panels {
  border-top: 1px solid#313438;
} 

.container-1r6BKw.themed-ANHk51 {
  border-bottom: 1px solid #313438;
  border-top: 1px solid #313438;
}

.clickable-2ap7je {
  border-bottom: 1px solid #313438;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: 0;
  border-top-color: rgb(0, 85, 255);
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #7d8082;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #7d8082;
}
.clickable-2ap7je {
  border-bottom: 0;
}

.header-2o-2hj {
  height: 47px;
  border-bottom: 1px solid #313438;
}

.searchBar-6Kv8R2 {
  height: 46px;
  border-bottom: 1px solid #313438;
}

.platform-win .sidebar-2K8pFh {
  border-radius: 0;
}

.container-1r6BKw.transparent-2ZlE3R {
  border-bottom: 1px solid #313438;
  border-top: 1px solid #313438;
  background-color: #1a1d21;
}

.scrollableContainer-2NUZem {
  border-radius: 3px;
  border: 1px solid #565856;
  background-color: #222529;
}

.content-3at_AU {
  padding: 0 8px;
  border-radius: 2px;
}

.modeSelected-1zApJ_ .icon-1_QxNX, .modeSelected-1zApJ_:hover .icon-1_QxNX, .modeUnread-1zpFdA .icon-1_QxNX, .modeUnread-1zpFdA:hover .icon-1_QxNX {
  color: white;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: #0576b9;
}

.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: black;
}

.barFill-23-gu- {
  background: #0576b9;
}

.avatar-1BDn8e {
border-radius: 4px;
}

.username-1A8OIy {
  font-weight: 900;
  font-size: 15px;
}

.content-1o0f9g {
  font-size: 14px;
  font-weight: 800;
  border-radius: 50px;
  color: #d1d2d3;
  border: 1px solid #343639;
  padding: 8px 14px;
}

.wrapper-1ucjTd {
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
  position: relative;
  cursor: pointer;
}

.wrapper-3WhCwL {
  color: #f2c744;
  background: #6d4b26;
}

.wrapper-3WhCwL:hover {
  color: #f2c744;
  background: #6d4b26;
}

.numberBadge-2s8kKX {
  width: 24px !important;
  box-shadow: 0 0 0 4px #202225;
  
}

